

.lc-global{
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;

    // opacity: 1;
    // visibility: visible;
    // z-index: 2147483639;
    // position: fixed;
    // bottom: 0px;
    // width: 352px;
    // height: 652px;
    // max-width: 100%;
    // max-height: calc(100% - 0px);
    // min-height: 0px;
    // min-width: 0px;
    // background-color: transparent;
    // border: 0px;
    // overflow: hidden;
    // right: 0px;
    // transition: none 0s ease 0s !important;
    
}