

.lc-global{
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;

    opacity: 1;
    visibility: visible;
    z-index: 2147483639;
    position: fixed;
    bottom: 0px;
    width: 352px;
    height: 652px;
    background-color: transparent;
    border: 0px;
    right: 0px;
    transition: none 0s ease 0s !important;
    margin: 1em;
    
}