.lc-status {
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    line-height: 2.8em;
    justify-content: center;
    background-color: rgb(245, 166, 35);
    align-items: center;
    font-weight: 700 !important;
    display: flex;
}