.lc-status {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 0.9em;
    line-height: 2.8em;
    background: rgb(245, 166, 35);
}