

.lc-footer{
    font-size: 0.65em;
    width: 100%;
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 0.5em 0px;
    z-index:2;
}

.lc-footer-container{
    color: rgb(125, 125, 125);
    text-decoration: none;
    padding: 0.2em;
    border-radius: 6px;
}

.lc-footer-color{
   color: rgb(212, 109, 57);
}


